1. Set the variable test1 to the string 'This is a test of the emergency text system,' and save test1 to a file named test.txt.

In [16]:
test1='This is a test of the emergency text system,'

In [17]:
f=open('test.txt','w+')
f.write(test1)
f.close()

2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1 and test 2?

In [18]:
f=open('test.txt','r')
test2=f.read()

In [19]:
print(test1)
print(test2)
#  Thus there is not difference bweteen test1 and test2

This is a test of the emergency text system,
This is a test of the emergency text system,

3. Create a CSV file called books.csv by using these lines:
- title,author,year
- The Weirdstone of Brisingamen,Alan Garner,1960
- Perdido Street Station,China Miéville,2000
- Thud!,Terry Pratchett,2005
- The Spellman Files,Lisa Lutz,2007
 -Small Gods,Terry Pratchett,1992

In [46]:
texts='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007 
Small Gods,Terry Pratchett,1992'''

f=open('books.csv','w')
f.writelines(texts)
f.close()

4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with these fields: title (text), author (text), and year (integer).

In [47]:
import sqlite3

In [48]:
# connect to DB
conn=sqlite3.connect('books.db')

In [49]:
#create cursor
cursor=conn.cursor()

In [50]:
cursor.execute('CREATE TABLE books (title text, author text, year int)')

OperationalError: table books already exists

In [105]:
cursor.execute('select * from books')
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Thud!', 'Terry Pratchett', 2005),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Small Gods', 'Terry Pratchett', 1992)]

5. Read books.csv and insert its data into the book table.

In [83]:
with open('books.csv', 'r+') as f:
    next(f)
    
    for i in f:
        lst=i.split(',')
       
        cursor.execute(f"INSERT INTO books VALUES ('{lst[0]}', '{lst[1]}',{lst[2]})")
        print('data inserted')
    conn.commit()

data inserted
data inserted
data inserted
data inserted
data inserted

6. Select and print the title column from the book table in alphabetical order.

In [106]:
cursor.execute('select title from books order by title')
cursor.fetchall()

[('Perdido Street Station',),
 ('Perdido Street Station',),
 ('Small Gods',),
 ('Small Gods',),
 ('The Spellman Files',),
 ('The Spellman Files',),
 ('The Weirdstone of Brisingamen',),
 ('The Weirdstone of Brisingamen',),
 ('Thud!',),
 ('Thud!',)]

7. From the book table, select and print all columns in the order of auther.

In [107]:
cursor.execute('select * from books order by author')
cursor.fetchall()

[('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('The Weirdstone of Brisingamen', 'Alan Garner', 1960),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('Perdido Street Station', 'China Miéville', 2000),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('The Spellman Files', 'Lisa Lutz', 2007),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Small Gods', 'Terry Pratchett', 1992),
 ('Thud!', 'Terry Pratchett', 2005),
 ('Small Gods', 'Terry Pratchett', 1992)]

8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [97]:
import sqlalchemy

engine=sqlalchemy.create_engine('sqlite:///books.db')

conn_alchemy=engine.connect()

In [102]:

data_alchemy=conn_alchemy.execute('select * from books')
for i in data_alchemy:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)
('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [103]:
# brew install redis
# brew services start redis

In [104]:
!pip install redis

Requirement already satisfied: redis in /opt/anaconda3/lib/python3.9/site-packages (4.3.1)
Requirement already satisfied: async-timeout>=4.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from redis) (4.0.2)
Requirement already satisfied: deprecated>=1.2.3 in /opt/anaconda3/lib/python3.9/site-packages (from redis) (1.2.13)
Requirement already satisfied: packaging>=20.4 in /opt/anaconda3/lib/python3.9/site-packages (from redis) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in /opt/anaconda3/lib/python3.9/site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /opt/anaconda3/lib/python3.9/site-packages (from packaging>=20.4->redis) (3.0.4)

In [108]:
import redis

In [109]:
conn=redis.Redis()

In [112]:
conn.hmset('test', {'count': 1 , 'name': 'Fester Bestertester'})
#  create a hash with name hash

/var/folders/7t/fhk5wxmd7rg6t9c41_n0tdgm0000gn/T/ipykernel_36652/1474084582.py:1: DeprecationWarning: Redis.hmset() is deprecated. Use Redis.hset() instead.
  conn.hmset('test', {'count': 1 , 'name': 'Fester Bestertester'})

True

In [117]:
conn.hgetall('test')

{b'count': b'1', b'name': b'Fester Bestertester'}

10. Increment the count field of test and print it.

In [118]:
conn.hincrby('test', 'count',1)

2

In [119]:
conn.hgetall('test')

{b'count': b'2', b'name': b'Fester Bestertester'}