1: Create a function that takes an integer and returns a list from 1 to the given number, where:
-	If the number can be divided evenly by 4, amplify it by 10 (i.e. return 10 times the number).
-	If the number cannot be divided evenly by 4, simply return the number.
-	The given integer will always be equal to or greater than 1.
-	Include the number (see example above).
-	To perform this problem with its intended purpose, try doing it with list comprehensions. If that's too difficult, just solve the challenge any way you can.

In [16]:
def amplify(num):
    
    if num<=1:
        return ('Please enter a number >1')
    lst= [(i*10) if (i%4)==0 else i  for i in range(1,num+1)  ]
    return lst

In [17]:
amplify(4)

[1, 2, 3, 40]

In [18]:
amplify(3)

[1, 2, 3]

In [19]:
amplify(25)

[1,
 2,
 3,
 40,
 5,
 6,
 7,
 80,
 9,
 10,
 11,
 120,
 13,
 14,
 15,
 160,
 17,
 18,
 19,
 200,
 21,
 22,
 23,
 240,
 25]

2: Create a function that takes a list of numbers and return the number that's unique.
- Notes: Test cases will always have exactly one unique number while all others are the same.

In [35]:
def unique(lst):
    val=sorted(lst)[0]
    if lst.count(val)==1:
        return (val)
    else:
        return (sorted(lst)[-1])

In [39]:
unique([3, 3, 3, 7, 3, 3])

7

In [37]:
unique([0, 0, 0.77, 0, 0])

0.77

In [36]:
unique([0, 1, 1, 1, 1, 1, 1, 1])

0

3: Your task is to create a Circle constructor that creates a circle with a radius provided by an argument. The circles constructed must have two getters getArea() (PIr^2) and getPerimeter() (2PI*r) which give both respective areas and perimeter (circumference).
For help with this class, I have provided you with a Rectangle constructor which you can use as a base example.

In [68]:
import math

In [73]:
class Circle:
    
    def __init__(self, radius):
        self.radius=radius
    
    def getArea(self):
        return round(math.pi*(self.radius**2))
    
    def getPerimeter(self):
        return round(2*math.pi*self.radius )

In [74]:
circy = Circle(11)
circy.getArea()

380

In [75]:
circy = Circle(4.44)
circy.getPerimeter()

28

4: Create a function that takes a list of strings and return a list, sorted from shortest to longest.
Examples
- All test cases contain lists with strings of different lengths, so you won't have to deal with multiple strings of the same length.

In [64]:
def sort_by_length(lst):
    return sorted(lst, key=len)

In [65]:
sort_by_length(["Google", "Apple", "Microsoft"])

['Apple', 'Google', 'Microsoft']

In [66]:
sort_by_length(["Leonardo", "Michelangelo", "Raphael", "Donatello"])

['Raphael', 'Leonardo', 'Donatello', 'Michelangelo']

In [67]:
sort_by_length(["Turing", "Einstein", "Jung"])

['Jung', 'Turing', 'Einstein']

5: Create a function that validates whether three given integers form a Pythagorean triplet. The sum of the squares of the two smallest integers must equal the square of the largest number to be validated.
- Note: Numbers may not be given in a sorted order.

In [50]:
def is_triplet(a,b,c):
    lst=sorted([a,b,c])
    return (lst[0]**2)+(lst[1]**2) == (lst[2]**2)

In [51]:
is_triplet(3, 4, 5)

True

In [52]:
is_triplet(13, 5, 12)

True

In [53]:
is_triplet(1, 2, 3)

False