1. Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.

In [10]:
def filter_list(lst):
    l=[]
    for i in lst:
        if type(i)== int:
            l.append(i)
    return (l)

In [11]:
filter_list([1, 2, 3, "a", "b", 4])

[1, 2, 3, 4]

In [12]:
filter_list(["A", 0, "Edabit", 1729, "Python", "1729"])

[0, 1729]

In [13]:
filter_list(["Nothing", "here"])

[]


2. Given a list of numbers, create a function which returns the list but with each element's index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...

In [26]:
def add_indexes(lst):
    l=[]
    for i in range(len(lst)):
        l.append(lst[i]+i)
    return l

In [27]:
add_indexes([0, 0, 0, 0, 0])

[0, 1, 2, 3, 4]

In [28]:
add_indexes([1, 2, 3, 4, 5])

[1, 3, 5, 7, 9]

In [29]:
add_indexes([5, 4, 3, 2, 1])

[5, 5, 5, 5, 5]

3. Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.

In [30]:
import math

In [35]:
def cone_volume(height,radius):
    math.pi
    vol=round((math.pi)* (radius**2)*(height/3),2)
    return vol

In [36]:
cone_volume(3, 2)

12.57

In [37]:
cone_volume(15, 6)

565.49

In [ ]:
cone_volume(18, 0)

4. This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are: 1, 3, 6, 10, 15
- This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
- Write a function that gives the number of dots with its corresponding triangle number of the sequence.

In [77]:
def triangle(n):
    s= 0   
    for i in range(1,n+1):
        s+=((2*i+1)//2)
    return s

#      - 1
#     - - 2
#    - - - 3
#   - - - - 4
#  - - - - - 5
# - - - - - - 6

In [78]:
triangle(1)

1

In [79]:
triangle(6)

21

In [80]:
triangle(215)

23220

5. Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.

In [96]:
def missing_num(lst):
    for i in range(1,11):
        if i not in lst:
            return (i)

In [97]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [98]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [99]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7