1: Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.

In [1]:
def is_symmetrical(num):
    rev=int((str(num))[::-1])
    return num==rev

In [2]:
is_symmetrical(1112111)

True

In [3]:
is_symmetrical(9939)

False

In [4]:
is_symmetrical(44444444)

True

In [5]:
is_symmetrical(12567)

False

In [6]:
is_symmetrical(7227)

True

2: Given a string of numbers separated by a comma and space, return the product of the numbers.

In [7]:
import functools

In [8]:
def multiply_nums(strings):
    return functools.reduce(lambda a,b: a*b, [int(i) for i in strings.split(', ')])

In [9]:
multiply_nums("10, -2")

-20

In [10]:
multiply_nums("54, 75, 453, 0")

0

In [11]:
multiply_nums("1, 2, 3, 4")

24

In [12]:
multiply_nums("2, 3")

6

3: Create a function that squares every digit of a number.

In [42]:
def square_digits(num):
    lst=[str(int(i)**2) for i in str(num)]
    return int(''.join(lst))

In [44]:
square_digits(9119)

811181

In [45]:
square_digits(2483)

416649

In [46]:
square_digits(3212)

9414

4: Create a function that sorts a list and removes all duplicate items from it.

In [53]:
def setify(lst):
    return sorted(list(set(lst)))

In [54]:
setify([1, 3, 3, 5, 5])

[1, 3, 5]

In [55]:
setify([4, 4, 4, 4])

[4]

In [56]:
setify([5, 7, 8, 9, 10, 15])

[5, 7, 8, 9, 10, 15]

In [57]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

5: Create a function that returns the mean of all digits.

Notes
• The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
• The mean will always be an integer.

In [67]:
def mean(num):
    str_num=str(num)
    return (functools.reduce(lambda a,b: a+b, [int(i) for i in str_num]))//len(str_num)

In [68]:
mean(42)

3

In [69]:
mean(12345)

3

In [70]:
mean(666)

6